@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$b: #37cbfe;
$n: #f6b996;
$s: #f8ccb3;
$esd: #e5b69b;
$g: #1ca42f;
$lg: #32b744;
$dg: #025a10;
$m: #270300;
$h: #501000;
$w: #ffffff;
$bl: #07061b;
$eye: #fef3ed;
$ow: #f6f6f6;
$nb: #3a5889;
$gr: #6a6363;
$ie: #ba8366;
